<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
<link rel="stylesheet" type="text/css" href="${ServiceName}/assets/easyui/themes/metro/easyui.css">
<link rel="stylesheet" type="text/css" href="${ServiceName}/assets/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="${ServiceName}/page/css/console.css">
<script src='${ServiceName}/assets/js/jquery-2.0.3.min.js' ></script>
<script src='${ServiceName}/assets/js/layer/layer.js' ></script>
<script type="text/javascript" src="${ServiceName}/assets/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${ServiceName}/page/js/fileTree.js"></script>
<style>
	
	
</style>
<script type="text/javascript">
projectName = '${projectName}';
serviceName = '${ServiceName}';
$(function(){
	initExtensionClassMapper();
});

</script>
</head>
<body class="easyui-layout">
	
	<!-- left start -->
	<div data-options="region:'west',split:true,title:''" style="width:15%;padding:10px;background: transparent;">
		<ul id="tree" class="easyui-tree file-tree" url="${ServiceName}/code/getFiles?projectId=${projectId}" data-options="
                method: 'get',
                animate: true,
				onDblClick : onNodeDblClick
            ">
		    
		</ul>
	</div>
	
	<!-- left end -->
	
	
	<!-- center start -->
	<div data-options="region:'center',border:false,title:''">
		<div class="easyui-layout" data-options="fit:true">
			<!-- center top start -->
			<div data-options="region:'center',split:true" style="background:#fbfbfb;">
				<div id="contentTabs" class="easyui-tabs" style="width:100%;height:100%;"></div>
			</div>
			<!-- center top end -->
			
		</div>
	</div>
	<!-- center end -->
</body>
</html>