#parse("./inc/head.vm")
      <div class="modal-content">
         <div class="modal-body">
            <form id="form" class="form-horizontal" >
				<input type="hidden" name="projectId" value="${projectId}" />
				<input type="hidden" name="entityId" value="${entityId}" />
				<input type="hidden" name="dbentityId" value="${entityId}" />
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">字段名：</span> 
					<div class="col-sm-9">
						<input type="text"  name="name" class="col-xs-10 col-sm-5" />
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">字段类型：</span> 
					<div class="col-sm-9">
                        <select type="text"  name="type" class="col-xs-10 col-sm-5" >
							<option value="bigint">bigint</option>
							<option value="varchar">varchar</option>
							<option value="int">int</option>
							<option value="smallint">smallint</option>
							<option value="datetime">datetime</option>
							<option value="float">float</option>
							<option value="decimal">decimal</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">字段长度：</span> 
					<div class="col-sm-9">
						<input type="number"  name="length" class="col-xs-10 col-sm-5" />
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">默认值：</span> 
					<div class="col-sm-9">
						<input type="text"  name="defaultValue" class="col-xs-10 col-sm-5" />
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">注释：</span> 
					<div class="col-sm-9">
						<textarea rows="3" cols="" name="docs"  class="col-xs-10 col-sm-5" ></textarea>
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">是否主键：</span> 
					<div class="col-sm-9">
						<input type="text"  name="primaryKey" class="col-xs-10 col-sm-5" />
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">是否可空：</span> 
					<div class="col-sm-9">
                        <select type="text"  name="allowNull" class="col-xs-10 col-sm-5" >
							<option value="YES">YES</option>
							<option value="NO">NO</option>
						</select>
					</div>
				</div>
			</form>
         </div>
         <div class="modal-footer">
            <button type="button" id="item_submit" class="btn btn-primary">
               	保存
            </button>
         </div>
      </div>

<script type="text/javascript">
//提交
$("#item_submit").on("click", function (e) {
    //check form data
    var data = $('#form').serialize();
    $.ajax({
        type: "POST",
        url: '${ServiceName}' + "/field/doAddField",
        data: data,
        dataType:'json'
    }).done(function (data) {
        if (data.code == -1) {
            layer.msg(data.desc);
        } else {
        	layer.msg('保存成功');
        	closeWindowAndRefreshParent();
        }
    });
});
</script>