<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>jquery实现的可增加关闭的tab标签效果</title>
<link rel="stylesheet" type="text/css" href="${ServiceName}/assets/tabs/css/easyui.css">
<link rel="stylesheet" type="text/css" href="${ServiceName}/assets/tabs/css/icon.css">
<script src='${ServiceName}/assets/js/jquery-2.0.3.min.js' ></script>
<script type="text/javascript" src="${ServiceName}/assets/tabs/js/jquery.easyui.min.js"></script>
<script type="text/javascript">
		$(function(){
			$('#tt').tabs({
				tools:[{
					iconCls:'icon-add',
					handler: function(){
						alert('add');
					}
				},{
					iconCls:'icon-save',
					handler: function(){
						alert('save');
					}
				}]
			});
		});
		
		var index = 0;
		function addTab(){
			index++;
			$('#tt').tabs('add',{
				title:'New Tab ' + index,
				content:'<iframe scrolling="yes" frameborder="0"  src="http://www.baidu.com" style="width:100%;height:100%;"></iframe>',
				iconCls:'icon-save',
				closable:true
			});
		}
		function getSelected(){
			var tab = $('#tt').tabs('getSelected');
			alert('Selected: '+tab.panel('options').title);
		}
		function update(){
			index++;
			var tab = $('#tt').tabs('getSelected');
			$('#tt').tabs('update', {
				tab: tab,
				options:{
					title:'new title'+index,
					iconCls:'icon-save'
				}
			});
		}
	</script>
</head>
<body>
<br/>
<div id="tt" style="width:100%;height:100%;">
  <div title="Tab1" iconCls="icon-reload" closable="true" style="padding:10px;">
    <table id="test" class="easyui-datagrid" fit="true">
      <thead>
        <tr>
          <th field="f1" width="60">field1</th>
          <th field="f2" width="60">field2</th>
          <th field="f3" width="60">field3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>d1</td>
          <td>d2</td>
          <td>d3</td>
        </tr>
        <tr>
          <td>d11</td>
          <td>d21</td>
          <td>d31</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div title="Tab2 with iframe" closable="true">
    <iframe scrolling="yes" frameborder="0"  src="http://www.baidu.com" style="width:100%;height:100%;"></iframe>
  </div>
</div>
</body>
</html>
