#parse("./inc/head.vm")
      <div class="modal-content">
         <div class="modal-body">
            <form id="form" class="form-horizontal" >
				<input type="hidden" name="projectId" value="${projectId}" />
				<input type="hidden" name="entityId" value="${entityId}" />
				#foreach( $setting in $settingList)
                    <div class="form-group">
    					<span class="col-sm-3 control-label no-padding-right">$setting.name：</span> 
						#if($setting.inputType=='input')
    					<div class="col-sm-9">
    						<input type="text"  name="$setting.placeholder" value="$!setting.value" class="col-xs-10 col-sm-5" />
    					</div>
						#end
						#if($setting.inputType=='bool')
							<div class="col-sm-9">
                            <select class="col-sm-3" name="$setting.placeholder">
								<option #if($!setting.value=='true') selected="selected" #end value="true">是</option>
								<option #if($!setting.value=='false') selected="selected" #end value="false">否</option>
							</select>
                            </div>
						#end
    				</div>
                #end
			</form>
         </div>
         <div class="modal-footer">
            <button type="button" id="item_submit" class="btn btn-primary">
               	生成
            </button>
         </div>
      </div>

<script type="text/javascript">
//提交
$("#item_submit").on("click", function (e) {
    //check form data
    var data = $('#form').serialize();
	
    $.ajax({
        type: "POST",
        url: '${ServiceName}' + "/template/doGenerateCode",
        data: data,
        dataType:'json',
		beforeSend : function(){
			var index = layer.load(1, {
              shade: [0.1,'#fff'] //0.1透明度的白色背景
            });
		}
    }).done(function (data) {
		layer.closeAll();
		
        if (data.code == -1) {
            layer.msg(data.desc);
        } else {
        	layer.msg('保存成功');
        	closeWindowAndRefreshParent();
        }
    }).fail(function(){
		layer.closeAll();
	});
});
</script>