#parse("./inc/head.vm")
<body>
	#parse("./inc/top.vm")
<div class="main-container" id="main-container">
	<div class="main-container-inner">
		#parse("./inc/siderbar.vm")
		<div class="ace-settings-container" id="ace-settings-container">
			<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
				<i class="icon-cog bigger-150"></i>
			</div>
			<div class="ace-settings-box" id="ace-settings-box">
				<div>
					<span><a href="javascript:void(0)" onclick="openAddTemplate();">增加模板</a></span>
				</div>
			</div>
		</div>
		<div class="main-content">
			<div class="search">
    			<div class="form-group">
    				<div class="col-sm-3">
						<span class="control-label search-label">模板名称：</span>
    					<input type="text" id="title" placeholder="请输入模板名称" class="col-xs-6 col-sm-6" />
    				</div>
    			</div>
    			<button class="btn btn-xs btn-info" onclick="doSearch()">搜索</button>
			</div>
			<div class="page-content">
				<br/>
				<div class="row col-xs-12">
					<table id="sample-table-1" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>模板名称</th>
									<th>说明</th>
									<th>创建时间</th>
									<th>创建人</th>
									<th>状态</th>
								    <th></th>
								</tr>
							</thead>

							<tbody>
								<tr style="display:none;" class="node_row">
								    <td ><a target="_blank" href="${ServiceName}/file/fileEdit?type=tpls&root=$[title]">$[title]</a></td>
								    <td >$[remark]</td>
									<td >$[createTime]</td>
									<td >$[createUser]</td>
                                    <td ><a href="javascript:void(0)" onclick="setScope($[id],$[scope])" script="true">getScopeText($[scope])</a></td>
								    <td>
											<a href="javascript:void(0)" onclick="openSettingList($[id])">参数配置</a>
											<a href="javascript:void(0)" onclick="openEditTemplate($[id])">修改</a>
											<a href="javascript:void(0)" onclick="cloneTemplate($[id])">克隆</a>
											<a href="javascript:void(0)" onclick="deleteTemplate($[id])">删除</a>
								    </td>
								</tr>
							</tbody>
						</table>
				</div><!-- /row -->
				<div class="row">
					<div class="col-xs-12">
						<div>
							<ul class="pagination" id="pagination"></ul>
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.page-content -->
		</div><!-- /.main-content -->
	</div><!-- /.main-container-inner -->

</div><!-- /.main-container -->

#parse("./inc/footer.vm")

<script type="text/javascript">
var pager;
var curResult;
$(function(){
	listData(0);
});

function doSearch(){
	pager=null;
	listData(0);
}

function listData(currentResult){
	curResult = currentResult;
	var title = $('#title').val();
	var devUsername = $('#devUsername').val();
	$.ajax({
        type: "POST",
        url: '${ServiceName}/template/listTemplateData',
        data: {currentResult:currentResult , title:title , scope:${scope}},
        dataType:'json'
    }).done(function (result) {
        if(result.code!=0){
			layer.msg(result.desc);
			return;
		}
		buildHtmlWithJsonArray('node_row' , result.data.result , false , false);
		var totalPages = result.data.totalPage;
		if(totalPages==0){
			totalPages=1;
		}
		if(pager==null){
			pager = createPager('#pagination', totalPages ,function(num, type){
				listData((num-1)*result.data.pageSize);	
			});
		}
    });
}

function openSettingList(id){
	layer.open({
	  type: 2,
	  title: '参数配置',
	  shade: 0.5,
	  area: ['50%', '80%'],
	  content: '${ServiceName}/template/settingList?tplId='+id,
	  cancel:function(index){
		  listData(curResult);
	  }
	});
}

function openAddTemplate(){
    var scope = '$!{scope}';
	layer.open({
	  type: 2,
	  title: '添加模板',
	  shade: 0.5,
	  area: ['50%', '450px'],
	  content: '${ServiceName}/template/addTemplate?scope=' + scope,
	  cancel:function(index){
		  listData(curResult);
	  }
	});
}

function openEditTemplate(id){
	layer.open({
	  type: 2,
	  title: '修改模板',
	  shade: 0.5,
	  area: ['50%', '450px'],
	  content: '${ServiceName}/template/editTemplate?id='+id,
	  cancel:function(index){
	  }
	});
}

function setScope(id , scope){
	if(scope==1){
		scope = 2;
	}else{
		scope = 1;
	}
	$.ajax({
        type: "POST",
        url: '${ServiceName}' + "/template/setScope",
        data: {
            "tplId": id,
			"scope": scope
        }
    }).done(function (data) {
    	if(data.code == 0){
	    	listData(curResult);
	    	layer.msg('设置成功');
    	}else{
    		layer.msg(data.desc);
    	}
    });
}

function cloneTemplate(tplId){
	layer.prompt({
        title: '模板名称',
        formType: 0 //prompt风格，支持0-2
    }, function(newTplTitle , index){
		layer.close(index);
        $.ajax({
            type: "POST",
            url: '${ServiceName}' + "/template/doCloneTemplate",
            data: {
                "newTplTitle": newTplTitle,
    			"tplId": tplId
            }
        }).done(function (data) {
        	if(data.code == 0){
    	    	listData(curResult);
    	    	layer.msg('克隆成功，请在我的模板中查看');
        	}else{
        		layer.msg(data.desc);
        	}
        });
    });
}

function getScopeText(scope){
	if(scope==1){
		return '私有';
	}else if(scope==2){
		return '公开';
	}else{
		return '未设定';
	}
}
function deleteTemplate(id){
	layer.confirm('删除模板不可恢复，确定要执行操作吗？', {
		  btn: ['是','否'] //按钮
		}, function(){
		  //yes
			$.ajax({
		        type: "POST",
		        url: '${ServiceName}' + "/template/deleteTemplate",
		        data: {
		            "tplId": id
		        }
		    }).done(function (data) {
		    	if(data.code == 0){
			    	listData(curResult);
			    	layer.msg('删除成功');
		    	}else{
		    		layer.msg(data.desc);
		    	}
		    });
		}, function(){
		  //no
		});
}
</script>
</body>
</html>

