#parse("./inc/head.vm")
      <div class="modal-content">
         <div class="modal-body">
            <form id="form" class="form-horizontal" >
				<input type="hidden"  name="type" value = "1" />
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">公司名称：</span> 
					<div class="col-sm-9">
						<input type="text"  id="company" name="company" class="col-xs-10 col-sm-5" />
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">用户名：</span> 
					<div class="col-sm-9">
						<input type="text" id="username" name="username" class="col-xs-10 col-sm-5" />
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">联系人姓名：</span> 
					<div class="col-sm-9">
						<input type="text" id="ralename" name="ralename" class="col-xs-10 col-sm-5" />
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">手机：</span> 
					<div class="col-sm-9">
						<input type="text" id="mobile" name="mobile" class="col-xs-10 col-sm-5" />
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">邮箱：</span> 
					<div class="col-sm-9">
						<input type="text" id="email" name="email" class="col-xs-10 col-sm-5" />
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 control-label no-padding-right">密码：</span> 
					<div class="col-sm-9">
						<input type="password" id="password" name="password" class="col-xs-10 col-sm-5" />
					</div>
				</div>
			</form>
         </div>
         <div class="modal-footer">
            <button type="button" id="item_submit" class="btn btn-primary">
               	保存
            </button>
         </div>
      </div>

<script type="text/javascript">
//提交
$("#item_submit").on("click", function (e) {
    //check form data
	if(!checkForm()){
		return;
	}

	var data = $('#form').serialize();
    $.ajax({
        type: "POST",
        url: '${ServiceName}' + "/user/doAddDev",
        data: data,
        dataType:'json'
    }).done(function (data) {
        if (data.code == -1) {
            layer.msg(data.desc);
        } else {
        	layer.msg('保存成功');
        	closeWindowAndRefreshParent();
        }
    });
});

function checkForm(){
	var errMsg = '';
	
	if($('#company').val()===''){
		errMsg += '公司名称不能为空 <br />';
	}
	
	if($('#username').val()===''){
		errMsg += '用户名不能为空 <br />';
	}
	
	if($('#mobile').val()===''){
		errMsg += '手机不能为空 <br />';
	}
	
	if($('#password').val()===''){
		errMsg += '密码不能为空 <br />';
	}
	
	if(errMsg === ''){
		return true;
	}
	
	layer.msg(errMsg);
	return false;
}
</script>