#parse("./inc/head.vm")
<body>
#parse("./inc/top.vm")

<div class="main-container" id="main-container">

    <div class="main-container-inner">
		#parse("./inc/siderbar.vm")
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="index.jsp">首页</a>
                    </li>
                    <!--
                    <li class="active">控制台</li>
                    -->
                </ul>
                <!-- .breadcrumb -->
            </div>

            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="alert alert-block alert-success">

                            <i class="icon-ok green"></i>
								欢迎使用
                            <strong class="green">
								聚贸代码生成平台
                            </strong>
							<a href="http://wiki.jm.com/xwiki/bin/view/%E6%8A%80%E6%9C%AF/%E6%8A%80%E6%9C%AF%E6%A1%86%E6%9E%B6/DevMaster/%E4%BB%A3%E7%A0%81%E7%94%9F%E4%BA%A7%E4%BD%BF%E7%94%A8%E6%96%87%E6%A1%A3/" target="_blank">使用文档
                            </a>
                        </div>




                        <div class="hr hr32 hr-dotted"></div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!--[if !IE]> -->
#parse("./inc/footer.vm")
<!-- inline scripts related to this page -->

<script type="text/javascript">
    jQuery(function($) {
    	
    })
</script>
</body>
</html>

