<!DOCTYPE html>
<html>
<head>
	<title>Basic Tabs Sample</title>

	<link rel="stylesheet" type="text/css" href="${ServiceName}/assets/layout/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="${ServiceName}/assets/layout/css/layout-default.css">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
	<style type="text/css">

	.ui-layout-north,
	.ui-layout-center {
		/* remove default pane scrolling in north & center panes */
		overflow:	hidden;
	}

	.ui-layout-north {
		/* center themeswitcher buttons in north-pane */
		text-align:	center;
	}

	.ui-layout-center {
		/* remove default padding on center-pane so tabs widget fills it */
		padding:	0;
	}

	.column{
		vertical-align: top;
		border: 1px solid #aaa;
	}
	.draggable{
		cursor:move;margin-top:5px;
	}
	</style>

	<!--<script src="js/jquery-2.js"></script>-->
	<script src="${ServiceName}/assets/layout/js/jquery.js"></script>
	<script src="${ServiceName}/assets/layout/js/jquery-ui.js"></script>
	<script src="${ServiceName}/assets/layout/js/jquery.layout.js"></script>


	<script type="text/javascript">
	// create global var for layout so we can call myLayout.resize() after changing a theme
	var myLayout;

	$(document).ready(function(){

		// create tabs FIRST so elems are correct size BEFORE Layout measures them
		$(".ui-layout-east").tabs();

		// create a layout with default settings
		//myLayout = $('body').layout();

		$( function() {
            $( ".draggable" ).draggable({
				helper:"clone"
			});
            $( ".droppable" ).droppable({
			  accept: ".draggable",
              drop: function( event, ui ) {
			  	var type = ui.draggable.attr('type');
				if(!type){
					return;
				}
				var clone;
				if(type=='input'){
					clone = $('<span>&nbsp;<span><input type="text" value="input something here" />');	
				}else if(type=='textarea'){
					clone = $('<span>&nbsp;<span><textarea >input something here</textarea>');	
				}else if(type=='checkbox'){
					clone = $('<span><span><input type="checkbox"/>');
				}else if(type=='radio'){
					clone = $('<span><span><input type="radio" />');
				}else if(type=='text'){
					clone = $('<label>输入内容</label>');
				}else if(type=='link'){
					clone = $('<a href="">链接标题</a>');
				}else if(type=='container'){
					clone = $('<div style="height:50px;width:200px;border:1px dashed #aaa" class="droppable"></div>');
					clone.resizable();
				}
				
                clone.css("position", "absolute");
          		clone.css("top", ui.position.top);
                clone.css("left", ui.position.left);
				clone.addClass('draggable');
                $(this).append(clone);
				clone.draggable({ containment: 'parent' ,cursor: 'move'});
              }
            });
        });
  
	});
	</script>

</head>
<body>

<div class="ui-layout-north" >
	<!-- add extra utility buttons for the Themeswitcher tool -->
	<button onClick="removeUITheme()">编辑</button> &nbsp; &nbsp;
	<button onClick="myLayout.resizeAll(); myLayout.sizeContent('west');">预览</button>
</div>

<table style="height:800px;width:100%;" cellpadding="0px;" cellspacing="0px">
<tr>
    <td class="column" style="width:10%">
		<div class="" >
        	<!--基础组件列表-->
                <div class="draggable" type="input">输入框</div>
        		<div class="draggable" type="textarea">多行文本框</div>
        		<div class="draggable" type="checkbox">checkbox</div>
        		<div class="draggable" type="radio">radio</div>
        		<div class="draggable" type="text">text</div>
        		<div class="draggable" type="link">link</div>
				<div class="draggable" type="container">容器</div>
        </div>
	</td>
	<td class="column" style="width:80%">
		<div class="droppable" style="height:800px;">
    	</div>
	</td>
	<td style="width:10%;" class="column">
		<div class="ui-layout-center droppable" style="height:100%;">
        	<div class="ui-layout-east" style="height:100%">
        	  <ul>
                <li><a href="#tabs-1">属性</a></li>
                <li><a href="#tabs-2">事件</a></li>
              </ul>
              <div id="tabs-1">
				sfd
              </div>
              <div id="tabs-2">
				fe
              </div>
			</div>
        </div>
	</td>
</tr>
</table>


</body>
</html>