<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title></title>

  <!-- Le styles -->
  <link href="${ServiceName}/assets/layoutit/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="${ServiceName}/assets/layoutit/css/jquery-ui-1.12.1.css" rel="stylesheet">
  <link href="${ServiceName}/assets/layoutit/css/layoutit.css" rel="stylesheet">

  <script src="${ServiceName}/assets/layoutit/lib/jquery/dist/jquery.min.js"></script>
  <script src="${ServiceName}/assets/layoutit/js/jquery-ui.js"></script>
  <script src="${ServiceName}/assets/layoutit/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="${ServiceName}/assets/layoutit/js/scripts.js"></script>

</head>

<body style="" class="edit">



<div class="navbar-layoutit">
</div>

<table style="width:100%;" cellpadding="0px;" cellspacing="0px" border-spacing="2px">
<tr>
    <td id="west" class="column" style="width:10%">
		<div class="sidebar-nav">

                <ul class="nav nav-list accordion-group">
                  
                  <li class="rows" id="estRows">
        
                    <div class="lyrow ui-draggable">
                      <a href="#close" class="remove label label-danger">
                        <i class="glyphicon-remove glyphicon"></i>
                        删除
                      </a>
        							<span class="drag label label-default">
        								<i class="glyphicon glyphicon-move"></i>
        							</span>
        
                      <div class="preview">
                        <input value="12" class="form-control" type="text"></div>
                      <div class="view">
        
                        <div class="clearfix">
                          <div class="col-md-12 column"></div>
                        </div>
                      </div>
                    </div>
        
                    <div class="box box-element ui-draggable">
                      <a href="#close" class="remove label label-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                        删除
                      </a>
                      <span class="drag label label-default">
                        <i class="glyphicon glyphicon-move"></i>
                      </span>
        
                      <div class="preview">地址</div>
                      <div class="view">
                        <address contenteditable="true"><strong>Twitter, Inc.</strong>
                          <br>
                          795 Folsom Ave, Suite 600
                          <br>
                          San Francisco, CA 94107
                          <br> <abbr title="Phone">P:</abbr>
                          (123) 456-7890
                        </address>
                      </div>
                    </div>
        
                  </li>
                </ul>
        </div>
	</td>
	<td class="column" style="width:80%">
		<div style="min-height:800px;" class="container ui-sortable">
		</div>
	</td>
	<td style="width:10%;" class="column">
    	<div class="ui-layout-east" style="border:none;">
    	  <ul>
            <li><a href="#tabs-1">属性</a></li>
            <li><a href="#tabs-2">事件</a></li>
          </ul>
          <div id="tabs-1">
			sfd
          </div>
          <div id="tabs-2">
			fe
          </div>
		</div>
	</td>
</tr>
</table>


</body>
</html>