<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title></title>

  <!-- Le styles -->
  <link href="${ServiceName}/assets/layoutit/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="${ServiceName}/assets/layoutit/css/jquery-ui-1.12.1.css" rel="stylesheet">
  <link href="${ServiceName}/assets/layoutit/css/layoutit.css" rel="stylesheet">

  <script src="${ServiceName}/assets/layoutit/lib/jquery/dist/jquery.min.js"></script>
  <script src="${ServiceName}/assets/layoutit/js/jquery-ui.js"></script>
  <script src="${ServiceName}/assets/layoutit/js/jquery.htmlClean.js"></script>
  <script src="${ServiceName}/assets/layoutit/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="${ServiceName}/assets/layoutit/js/scripts.js"></script>
  <script src="${ServiceName}/page/js/widget/widgetutil.js"></script>
  <script src="${ServiceName}/page/js/widget/input.js"></script>
  <script src="${ServiceName}/page/js/widget/textarea.js"></script>
  <script src="${ServiceName}/page/js/widget/button.js"></script>
  <script src="${ServiceName}/page/js/widget/label.js"></script>
  <script src="${ServiceName}/page/js/widget/link.js"></script>
  <script src="${ServiceName}/page/js/widget/radio.js"></script>
  <script src="${ServiceName}/page/js/widget/checkbox.js"></script>
  <script src="${ServiceName}/page/js/widget/select.js"></script>
  <!-- <script src="${ServiceName}/page/js/widget/"></script> -->
  
  <script>
	  var jmWidgets = {};
	  jmWidgets['jmInput'] = jmInput;
	  jmWidgets['jmTextarea'] = jmTextarea;
	  jmWidgets['jmButton'] = jmButton;
	  jmWidgets['jmLabel'] = jmLabel;
	  jmWidgets['jmLink'] = jmLink;
	  jmWidgets['jmRadio'] = jmRadio;
	  jmWidgets['jmCheckbox'] = jmCheckbox;
	  jmWidgets['jmSelect'] = jmSelect;
  </script>
  
  <script>
   $(function(){
       for(var key in jmWidgets){
	       $('#west #estRows').append(create(jmWidgets[key]));
	   }
    
    	$(".sidebar-nav .box").draggable({
    		connectToSortable : ".column",
    		helper : "clone",
    		handle : ".drag",
    		drag : function(e, t) {
    			t.helper.width(400)
    		},
    		stop : function(e, t) {
				var widgetId = t.helper.find('[data-widget-id]').attr('data-widget-id');
				
				// 绑定事件
				$('.container [data-widget-id='+widgetId+']').bind('click', function(){
					onfocus(this);
				});
				
				// 修改源 id
				$('#west [data-widget-id='+widgetId+']').attr('data-widget-id', widgetUtils.randomNumber());
    		}
    	});
   });
   
   function create(widget){
       var html = 
	   '<div class="box box-element ui-draggable">' + 
    		'<a href="#close" class="remove label label-danger">' + 
    			'<i class="glyphicon glyphicon-remove"></i> 删除' + 
    		'</a> <span class="drag label label-default">' + 
    			'<i class="glyphicon glyphicon-move"></i>' + 
    		'</span>' + 
    		'<div class="preview">' + widget.name + '</div>' + 
    		'<div class="view">' + 
    			widget.initHtml()
    		'</div>' + 
    	'</div>';
		
		return html;
   }
   
   /**
	 * 当组元素中时处理代码
	 */
	function onfocus(ele){
		var $ele = $(ele)
		var widgetId = $ele.attr('data-widget-id');
		var widgetType = $ele.attr('data-widget-type');
		
		var widget = jmWidgets[widgetType];
		var attr = widget.getAttr(widgetId);
		
		$('#tabs-1').html('');
		$.each(widget.attributes, function(index, value){
			$('#tabs-1').append('<div class="form-group row">' +
					'<label class="control-label">' + value.name + ' : </label>' +
					'<input type="text" class="form-control" name="'+value.value+'" value="'+attr[value.value]+'" placeholder="'+value.description+'" />' +
					'</div>');
		});
		
		$('#tabs-1 input').bind('keyup', function(){
			bindAttrs(this, widgetId, widgetType);
		});
	}
	
	/**
	 * 清除元素的属性
	 */
	function clearAttrs(){
		$('.attr-editor').val('');
	}
	
	/**
	 * 列出元素的属性
	 */
	function listAttrs(){
		
	}
	
	/**
	 * 清除元素的事件
	 */
	function clearEvents(){
		
	}
	
	/**
	 * 列出元素的事件
	 */
	function listEvents(){
		
	}
	
	/**
	 * 将属性值绑定到元素上
	 */
	function bindAttrs(ele, widgetId, widgetType){
		var widget = jmWidgets[widgetType];
		
		var attrEle = $(ele);
		var attrValue = attrEle.val();
		var attrName = attrEle.attr('name');
		
		var attr = {widgetId : widgetId};
		attr[attrName] = attrValue;
		
		widget.setAttr(attr);
	}
	
	/**
	 * 将事件绑定到元素上
	 */
	function bindEvents(){
	}
	
	function save(){
		/*var lyrow = $('.container .lyrow');
		
		var dom = $('<div class="clearfix"><div class="col-md-12 column"></div></div>');
		
		var boxElements = lyrow.children('.view').children('.clearfix').children('.column').children('.box-element');
		$.each(boxElements, function(i, ele){
			dom.children('.column').append($(ele).children('.view').html());
		});
		
		console.log(dom[0].outerHTML);*/
		
		$('.container .remove').hide();
		$('.container .drag').hide();
		$('.container .preview').hide();
	}
  </script>

</head>

<body style="" class="edit">



<div class="navbar-layoutit">
	<button type="button" class="btn btn-primary active" id="layout_edit">
		<i class="glyphicon glyphicon-edit"></i>
		编辑
	</button>
	<button type="button" class="btn btn-primary" id="layout_preview">
		<i class="glyphicon glyphicon-eye-open"></i>
		预览
	</button>
    <button type="button" class="btn btn-primary" id="layout_save">
		<i class="glyphicon glyphicon-share"></i>
		保存
	</button>
</div>

<table style="width:100%;" cellpadding="0px;" cellspacing="0px" border-spacing="2px">
<tr>
    <td id="west" class="column" style="width:10%">
		<div class="sidebar-nav">

                <ul class="nav nav-list accordion-group">
                  
                  <li class="rows" id="estRows">
        
                    <div class="lyrow ui-draggable">
                      <a href="#close" class="remove label label-danger">
                        <i class="glyphicon-remove glyphicon"></i>
                        删除
                      </a>
        							<span class="drag label label-default">
        								<i class="glyphicon glyphicon-move"></i>
        							</span>
        
                      <div class="preview">
                        <input value="12" class="form-control" type="text"></div>
                      <div class="view">
        
                        <div class="clearfix">
                          <div class="col-md-12 column"></div>
                        </div>
                      </div>
                    </div>
        
                    <div class="box box-element ui-draggable">
                      <a href="#close" class="remove label label-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                        删除
                      </a>
                      <span class="drag label label-default">
                        <i class="glyphicon glyphicon-move"></i>
                      </span>
        
                      <div class="preview">地址</div>
                      <div class="view">
                        <address contenteditable="true"><strong>Twitter, Inc.</strong>
                          <br>
                          795 Folsom Ave, Suite 600
                          <br>
                          San Francisco, CA 94107
                          <br> <abbr title="Phone">P:</abbr>
                          (123) 456-7890
                        </address>
                      </div>
                    </div>
        
                  </li>
                </ul>
        </div>
	</td>
	<td class="column" style="width:75%">
		<div style="min-height:800px;" class="container ui-sortable">
		</div>
		
		<div id="download-layout">
          <div class="container-fluid"></div>
        </div>
	</td>
	<td id="east" style="width:15%;" class="column">
    	<div class="ui-layout-east" style="border:none;">
    	  <ul>
            <li><a href="#tabs-1">属性</a></li>
            <li><a href="#tabs-2">事件</a></li>
          </ul>
          <div id="tabs-1">
			sfd
          </div>
          <div id="tabs-2">
			fe
          </div>
		</div>
	</td>
</tr>
</table>


</body>
</html>