#parse("./inc/head.vm")
<script type="text/javascript" src="${ServiceName}/assets/js/security.js">
</script>
<body class="login-layout">
<div class="main-content login-body">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="login-container">
                <div class="center">
                    <h1>
                        <span class="red">聚贸代码生成平台</span>
                    </h1>
                </div>

                <div class="space-6"></div>

                <div class="position-relative">
                    <div id="login-box" class="login-box visible widget-box no-border" style="width: 500px;">
                        <div class="widget-body">
                            <div class="widget-main">
                                <form id="commentForm" role="form" class="form-horizontal" method="post">
                                    <fieldset>
                                        <label class="block clearfix">
                                        </label>
                                        <table>
                                            <tr>
                                                <td>姓名：</td>
                                                <td><input type="text" class="form-control" id="account" name="account" placeholder="请输入真实姓名" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>邮箱：</td>
                                                <td><input type="text" class="form-control" id="mail" name="mail" placeholder="请输入邮箱"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>手机号：</td>
                                                <td> <input type="text" class="form-control" id="mobile" name="mobile" placeholder="请输入11位手机号" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>短信验证码：</td>
                                                <td><input type="text" class="form-control" id="smsCode" name="smsCode" placeholder="请输入验证码" /><input id="sendMsgBtn" type="button" class="sent-btn" value="获取验证码" onclick="getVerificationCode('1')" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>设置密码：</td>
                                                <td><input type="password" class="form-control" id="password" name="password" placeholder="请输入至少6位密码"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>确认密码：</td>
                                                <td><input type="password" class="form-control" id="rePassword" name="rePassword" placeholder="请输入至少6位密码"/>
                                                </td>
                                            </tr>
                                            #*<tr>
                                                <td>验证码：</td>
                                                <td>
                                                    <input type="text" class="input-txt yzm-w" name="imgCode" placeholder="请输入图片验证码"/>
                                                    <img src="/user/getVerifyCode" class="yzm-w-pic" height="30" width="108" onclick="this.src='/user/getVerifyCode?t='+new Date().getTime()"/>
                                                    <a class="yzm-a" onclick="$(this).prev().attr('src', '/user/getVerifyCode?t='+new Date().getTime())">换一换</a>

                                                </td>
                                            </tr>*#
                                        </table>

                                        <div class="clearfix">
                                            <input value="注册" type="button" id="register_button" type="submit" class="width-35 btn btn-sm btn-primary" onclick="doSubmit()">

                                        </div>
                                    </fieldset>
                                </form>
                            </div><!-- /widget-main -->
                        </div><!-- /widget-body -->
                    </div><!-- /login-box -->
                </div><!-- /position-relative -->
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
    #parse("./inc/footer.vm")
<!-- inline scripts related to this page -->

#parse("./user/verifycationCode.vm")
<script type="text/javascript">

    //表单验证
    function formValidate() {
       return $("#commentForm").validate({
            rules: {
                account: 'required',
                mobile: {
                    required: true,
                },
                password: {
                    required: true
                },
                rePassword: {
                    required: true,
                    equalTo: '#password'
                },
                smsCode: {
                    required: true
                }
            },
           messages:{
               account: '请输入账号',
               mobile: '请输入手机号码',
               password: '请输入密码',
               rePassword: {
                   required:'请输入确认密码',
                   equalTo: '两次密码不一致'
               },
               smsCode: '请输入验证码'
           }
        })
    }

    //注册表单验证
    $(formValidate());

    //提交用户注册
    function doSubmit(){
        if(formValidate().form()){
            RSAUtils.setMaxDigits(200);
            var key = new RSAUtils.getKeyPair("${publicKeyExponent}", "", "${publicKeyModulus}");
            var account = $("#account").val();
            var password = $("#password").val();
            var rePassword = $('#rePassword').val();

            //js里面是反序的字符串，不知道为啥
            password = password.split("").reverse().join("");
            rePassword = rePassword.split("").reverse().join("");
            //加密后密码
            password = RSAUtils.encryptedString(key,password);
            rePassword = RSAUtils.encryptedString(key,rePassword);

            var data = $('#commentForm').serializeJson();
            $.extend(data, {password: password, rePassword: password});
            $.ajax({
                type: "POST",
                url: '${ServiceName}/doRegister',
                data: data,
                dataType:'json'
            }).done(function (jsonData) {
                //如果为true，证明该用户已经下载过，显示已下载提示，否则直接下载
                if (jsonData.code == 0) {
                    //登录成功
                    layer.alert(jsonData.desc, {icon: 1, title: '提示'});
                } else {
                    layer.alert(jsonData.desc, {icon: 2, title: '提示'});
                }
            });
        }
    }
</script>
</body>
</html>

