<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>

<script src="${ServiceName}/assets/easyui/jquery.min.js"></script>
<script src='${ServiceName}/assets/js/layer/layer.js' ></script>
<script src="${ServiceName}/assets/easyui/jquery.easyui.min.js"></script>

<script src="${ServiceName}/assets/js/codemirror-5.24.2/lib/codemirror.js"></script>
<script src="${ServiceName}/assets/js/codemirror-5.24.2/addon/hint/show-hint.js"></script>
#foreach($script in $mode.references)
<script src="${ServiceName}/$script"></script>
#end

<link rel="stylesheet" href="${ServiceName}/assets/js/codemirror-5.24.2/lib/codemirror.css">
<link rel="stylesheet" href="${ServiceName}/assets/js/codemirror-5.24.2/theme/blackboard.css">
<link rel="stylesheet" href="${ServiceName}/assets/js/codemirror-5.24.2/doc/docs.css">
<link rel="stylesheet" href="${ServiceName}/assets/js/codemirror-5.24.2/addon/hint/show-hint.css">
<style type="text/css">
    html,body{height:100%;overflow:hidden;margin:0px;}
    .fullHeight{height:100%;}
</style>	
</head>
<body>
    <form>
        <textarea id="editor">$!{content}</textarea>
	</form>
    <script>
		
		var editor = document.getElementById('editor');
		
		// 自定义保存事件
		CodeMirror.commands.save = function (cm) {
			if(isContentChanged()){
	        	save();
			}
    	};
		
		var extraKeys = {};
		extraKeys['Ctrl-S'] = 'save';
		extraKeys['Alt-/'] = 'autocomplete';
		
		var codeMirror = CodeMirror.fromTextArea(editor,{
				theme:'blackboard',
            	lineNumbers: true,
				lineWrapping:true,
				styleActiveLine: true,
				smartIndent:true,
				indentUnit:4,
				tabSize:4,
				scrollbarStyle:'native',
				extraKeys : extraKeys
            });
		
		// 内容变化触发
		codeMirror.on('change', function(cm, changeObj){
			parent.updateTabTitle('$!{path}', '$!{fileName}');
			//cm.showHint(); // 自动补全
		});
		
		/**
		 * 保存功能
		 */
		function save(){
			var path = '$!{path}';
			
			if(path === ''){
				return;
			}
			
			$.ajax({
                type: "POST",
                url: '${ServiceName}' + "/project/save",
                data: {
        			path : path,
                    content : codeMirror.getValue()
                }
            }).done(function (data) {
            	if(data.code == 0){
					layer.msg('save success');
					parent.updateTabTitle('$!{path}', '$!{fileName}', true);
            	}else{
            		layer.msg('save fail');
            	}
            });
		}
		
		function isContentChanged(){
			var path = '$!{path}';
			var fileName = '$!{fileName}';
			return parent.isTitleChaned(path, fileName);
		}
	</script>
</body>
</html>