<script type="text/javascript">
$(function(){
	var path = window.location.pathname;
	if(window.location.search){
		path = path+ window.location.search;
	}
	var menu = $('.menu[href="'+path+'"]');
	menu.addClass('active');
	menu.parents('.level_1').addClass('open');
	menu.parents('li').addClass('active');
});
</script>
<a class="menu-toggler" id="menu-toggler" href="#"> <span
	class="menu-text"></span>
</a>
<div class="sidebar" id="sidebar">
	<ul class="nav nav-list">
			#if($!subject.hasRole("admin"))
			<li  class="level_1">
				<a href="#" class="dropdown-toggle"> <i class="icon-user"></i>
				 	<span class="menu-text"> 用户管理 </span>  <b class="arrow icon-angle-down"></b>
				</a>
				<ul class="submenu">
					<!--<shiro:user> -->
					<li>
						<a  class="menu" href="${ServiceName}/user/devList"> <i class="icon-double-angle-right"></i>开发者</a>
					</li>
					<li>
						<a  class="menu" href="${ServiceName}/user/spList"> <i class="icon-double-angle-right"></i>服务商</a>
					</li>
				</ul> 
			</li>
			
			 #end
			 <li  class="level_1">
				<a href="#" class="dropdown-toggle"> <i class="icon-cloud"></i>
				 	<span class="menu-text">项目管理</span>  <b class="arrow icon-angle-down"></b>
				</a>
		        <ul class="submenu">
					<li>
						<a  class="menu" href="${ServiceName}/project/projectList"> <i class="icon-double-angle-right"></i>项目列表</a>
					</li>
				</ul> 
			</li>
			<li  class="level_1">
				<a href="#" class="dropdown-toggle"> <i class="icon-cloud"></i>
				 	<span class="menu-text">模板管理</span>  <b class="arrow icon-angle-down"></b>
				</a>
		        <ul class="submenu">
					<li>
						<a  class="menu" href="${ServiceName}/template/templateList?scope=1"> <i class="icon-double-angle-right"></i>我的模板</a>
					</li>
					<li>
						<a  class="menu" href="${ServiceName}/template/templateList?scope=2"> <i class="icon-double-angle-right"></i>共享模板</a>
					</li>
				</ul> 
			</li>
			<li  class="level_1">
				<a href="#" class="dropdown-toggle"> <i class="icon-cloud"></i>
				 	<span class="menu-text">组件管理</span>  <b class="arrow icon-angle-down"></b>
				</a>
		        <ul class="submenu">
					<li>
						<a  class="menu" href="${ServiceName}/component/componentList?scope=1"> <i class="icon-double-angle-right"></i>我的组件</a>
					</li>
					<li>
						<a  class="menu" href="${ServiceName}/component/componentList?scope=2"> <i class="icon-double-angle-right"></i>共享组件</a>
					</li>
				</ul> 
			</li>
	</ul>
	<!-- /.nav-list -->
</div>

